<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../../partials/head.ejs")%>
  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../../partials/header.ejs") %>
    </header>
    <main>
      <h1>Edit Problem</h1>
      <hr>
      <form action="" method="POST">
        Problem Name: <input type="text" name="problem-name" placeholder="Problem Name" value="<%=problemToEdit.problemName%>">
        <br>
        <textarea name="problem-statement" maxlength="16000" placeholder="Enter problem statement here... (Markdown, max. 16000 characters)">"<%=problemToEdit.problemStatement%><"/textarea>
        <br>
        Problem ID: <code><%=problemToEdit.problemID%></code>
        <br>
        Correct Password: <input type="text" name="correct-password" placeholder="Correct Password" value="<%=problemToEdit.correctPassword%>">
        <br>
        Problem Number: <code><%=problemToEdit.problemNumber%></code>
        <br>
        Timestamp to release: <input type="number" name="problem-release-timestamp" placeholder="Timestamp to release" value="<%=problemToEdit?.releaseDateAndTime?.getTime() ?? 1%>">
        <br>
        Person to credit (optional, leave blank for self): <input type="text" name="problem-author" placeholder="Person to credit. Leave blank for current user." value="<%=problemToEdit.author ?? ""%>">
        <br>
        Difficulty (optional): <input type="number" name="problem-difficulty" placeholder="Problem Difficulty" value="<%=problemToEdit.difficulty%>">
        <br>
        Categories (optional, comma separated): <input type="text" name="problem-categories" placeholder="Problem Categories" value="<%=problemToEdit?.categories?.join(",")??""%>">
        <div>
          <input type="checkbox" name="problem-hidden" <%= problemToEdit.hidden ? "checked" : "" %>> Hidden Problem (must type URL directly).
        </div>
        <%- include("../../partials/csrf.ejs",{sessionID:sessionID,csrfToken:csrfToken}) %>
        <% if (diagnosticMessage) { %>
        <div class="message--error">
          <%= diagnosticMessage %>
        </div>
        <% } %>
        <input type="submit" name="Save Changes">
        <br>
        Note: To edit ID and/or number, edit them in database itself, although it might cause problems.
      </form>
    </main>
    <footer>
      <%- include("../../partials/footer.ejs") %>
    </footer>
  </div>
</body>