<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")%>

  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs") %>
    </header>
    <main>
      <% if (data.isAdministrator) {  %>
      <h2>Administrator</h2>
      <% } %>
      <h1><%= username %></h1>
      Correct Answers: <%= data?.correctAnswers?.length || "0" %>
      <br>
      <form action="/account/settings">
        <input type="submit" value="Go to Account Settings">
      </form>
      <form action="/logout">
        <input type="submit" value="Logout">
      </form>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
  </div>
</body>

</html>