<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")%>
  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs", {authentication: authentication}) %>
    </header>
    <main>
      <h1>Contests</h1>
      <p>
        <% if (contests.length === 0) { %>
        No contests have been held yet.
        <%}else{%>
      <table id="contest-list">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
        </tr>
        <% for (const contest of contests){ %>
        <tr>
          <td><%=contest.contestID%></td>
          <td><a href="/contests/<%=contest.contestID%>"><%=contest.contestName%></a></td>
          <td><%=contest.startDateAndTime.toISOString()%></td>
          <td><%=contest.endDateAndTime.toISOString()%></td>
        </tr>
        <% } %>
      </table>
      <%}%>
      </p>
      <footer>
        <%- include("../partials/footer.ejs") %>
      </footer>
  </div>
</body>