<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")>
  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs") %>
  </header>
  <main>
    <h1>Correct Answer</h1>
    Congratulations! Your answer of "<%= answer %>" to "<%=problemID%>" (Problem #<%= number %>) is correct!
    <br>
    <div class="navigation-button-container">
      <form action="/problem/<%=problemID%>">
        <input type="submit" value="Go to Problem">
      </form>
      &nbsp;
      <form action="/problemset">
        <input type="submit" value="Go to Problemset">
      </form>
    </div>
  </main>
  <footer>
    <%- include("../partials/footer.ejs") %>
  </footer>
  </div>
  </body>

</html>