<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")%>
  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs") %>
    </header>
    <main>
      <h1>Problemset</h1>
      <div id="problemset__wrapper">
        <table id="problemset">
          <tr>
            <th class="cell--number">#</th>
            <th>Name</th>
            <th>ID</th>
            <th><%= detail.header %></th>
          </tr>
          <% for (const problem of problems) { %>
          <% if (authentication.ok && problem.correctAnswers.find((e)=>e.username===authentication.username) ) { %>
          <tr class="cell--solved">
            <% } else { %>
          <tr>
            <% } %>
            <td class="cell--number"><%= problem.problemNumber %></td>
            <td><a href="/problem/<%= problem.problemID %>"><%= problem.problemName %></a></td>
            <td><%= problem.problemID %></td>
            <%- include("../partials/detail-cell.ejs", {detail:detail,problem:problem}) %>
          </tr>
          <%}%>
        </table>
      </div>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
          </footer>
      </div>
</body>