<!DOCTYPE html>
<html lang="en">

<head>

  <title>UntitledPasswordFindingGame</title>
  <%- include("../partials/head.ejs")%>

  <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
</head>

<body>
  <div id="container">
    <header>
      <%- include("../partials/header.ejs",{authentication:authentication}) %>
    </header>
    <main>
      <h1>Submissions</h1>
      <table id="submissions-table">
        <tr>
          <th>ID</th>
          <th>Problem ID</th>
          <th>Username</th>
          <th>Answer</th>
          <th>Timestamp</th>
          <th>Verdict</th>
        </tr>
        <% for (const submission of data) { %>
        <%- include("../partials/submission.ejs",{submission:submission}) %>
        <% } %>
      </table>
      <div id="page-number">
        Page <%-`${parseInt(page)}`%>
      </div>
      <div id="amount-selector">
        <div>
          <%-`<a href=?page=${parseInt(page)===1?1:parseInt(page-1)}&amount=${parseInt(amount)}>Previous</a>`%>
        </div>
        <div>
          <%-`<a href=?page=${parseInt(page)}&amount=10>10</a>`%>
          <%-`<a href=?page=${parseInt(page)}&amount=25>25</a>`%>
          <%-`<a href=?page=${parseInt(page)}&amount=50>50</a>`%>
          <%-`<a href=?page=${parseInt(page)}&amount=100>100</a>`%>
        </div>
        <div>
          <%-`<a href=?page=${parseInt(page+1)}&amount=${parseInt(amount)}>Next</a>`%>
        </div>
      </div>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
  </div>
</body>

</html>