<table id="problemset">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>ID</th>
    <th>Solved</th>
  </tr>
  <% for (const problem of contestData.contestProblems) { %>
  <tr>
    <td><%= problem.problemNumber %></td>
    <td><a href="/problem/<%= problem.problemID %>"><%= problem.problemName %></a></td>
    <td><%= problem.problemID %></td>
    <td><%= problem.correctAnswers.length %></td>
  </tr>
  <% } %>
</table>