<h2>Contest Leaderboards</h2>
<p>
  <% if (new Date(contestData.endDateAndTime) <= Date.now()){ %>
  This contest has ended. Submissions are still accepted but will not be included in the contest leaderboards.
  <br>
  <% } %>
  <% if (contestData.scores.length === 0) { %>
  No submissions have been made yet.
  <%}else{%>
<div id="contest-leaderboards__wrapper">
  <table id="contest-leaderboards">
    <tr>
      <th class="cell--text">#</th>
      <th>Username</th>
      <th>Σ</th>
      <% for (const problem of contestData.problems) { %>
      <th><%=problem.problemID%></th>
      <% } %>
    </tr>
    <% for (let order = 0; order < contestData.scores.length; order++){ %>
    <tr>
      <td class="cell--text"><%=order+1%></td>
      <td><%=contestData.scores[order].username%></td>
      <td class="cell--text"><span class="score--total"><%=contestData.scores[order].totalScore%></span></td>
      <% for (const problem of contestData.problems) { %>
      <% if (contestData.scores[order].detailed[problem.problemID].solved) { %>
      <td class="cell--text">
        <span title="Solved after <%=contestData.scores[order].detailed[problem.problemID].timeTaken%> milliseconds and <%=contestData.scores[order].detailed[problem.problemID].wrongAnswers%> wrong answer(s)." class="score--correct-answer">
          <%=contestData.scores[order].detailed[problem.problemID].score%>
        </span>
      </td>
      <% }else if (contestData.scores[order].detailed[problem.problemID].wrongAnswers > 0) {%>
      <td class="cell--text"><span title="<%=contestData.scores[order].detailed[problem.problemID].wrongAnswers%> wrong answer(s) so far." class="score--wrong-answer">-<%=contestData.scores[order].detailed[problem.problemID].wrongAnswers%></span></td>
      <%}else{%>
      <td class="cell--text"><span title="Did not attempt yet."></span></td>
      <%}%>
        <% } %>
    </tr>
    <% } %>
  </table>
</div>
<%}%>
</p>